{% extends 'layout.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %} 
<h1>{{title}}</h1>
{% for product in lastProducts %}


<span>{{ product.title }}</span>
</br>
<div class="container">
<div class="summaryWrapper">
{{product.summary | raw }}
</div>

</div>
<a class="actionLink" href="{{ path('display_course', { 'idProduct': product.idProduct }) }}"></br>En savoir plus</a>
<br>

{% endfor%}
{% endblock %}