{% extends 'layout.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %} 
<h1>Récapitulatif des cours les plus récents</h1>
{% for product in lastProducts %}


<span><a class="actionLink" href="{{ path('product_show', { 'idProduct': product.idProduct }) }}">{{ product.title }}</a></span>
</br>
<div class="container">{{product.summary}}</div>

{% endfor%}
{% endblock %}