{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Création d'un nouveau produit</h1>
<div class="container">
    {{ form_start(form) }}
        {{ form_widget(form) }}
 
        <input class="actionLink" type="submit" value="Créer" />
    {{ form_end(form) }}
</div>
    <ul>
        <li>
            <a class="actionLink" href="{{ path('product_index') }}">Retour</a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
<script>
    CKEDITOR.replace( 'form[summary]' );
</script>  
{% endblock %}
